*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, auto);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}
.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(n + 7) {
  border-bottom: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before {
  background: lightgrey;
}

.winning-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  user-select: none;
}

.winning-message.show {
  display: flex;
}

.buttons {
  display: flex;
}

.buttons button {
  padding: 0.1em 0.7em;
  margin-top: 1rem;
  margin-left: 1rem;

  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 100;
}

.difficulty {
  margin-top: 1rem;
  padding: 0;
  border: 0;
  display: flex;
}
.difficulty button {
  margin-left: 1rem;
  padding: 0.1em 0.7em;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.difficulty .red {
  background-color: red;
}

.difficulty .green {
  background-color: green;
}
